<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iradetskiy.vkaudioplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".VKLoginActivity"
            android:label="@string/title_activity_vklogin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CurrentUserAudioActivity" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <service android:name=".PlayAudioService">
            <intent-filter>
                <action android:name="com.iradetskiy.action.PLAY" />
                <action android:name="com.iradetskiy.action.STOP" />
                <action android:name="com.iradetskiy.action.PAUSE" />
            </intent-filter>
        </service>
    </application>

</manifest>